.vscode/
data_G/
data_G_2/
data_GO/
lightning_logs/
models/
__pycache__/
outputs/
job.output
job.error
job.log
*.png
test_*
tests/
*.error
*.output
*.log
data_GO_clustered/
data_GO_tail_augmented/
data_GO_high_num_atoms/
data_GO_num_atoms_5000/
data_GO_num_atoms_250_1500/
data_GO_z_relative/
data_GO_atoms_0_350/
data_GO_last_test/
data_GO_num_atoms_500_2000/
data_GO_num_atoms_650_2000/